<ion-accordion-group expand="inset">
  <ion-accordion value="first">
    <ion-item slot="header" color="completed">
      <ion-label class="ion-label-text">Completed Task/s</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">First Content</div>
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header" color="ongoing">
      <ion-label class="ion-label-text">Ongoing Task/s</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Second Content</div>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header" color="deleted">
      <ion-label class="ion-label-text" >Deleted Task/s</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Third Content</div>
  </ion-accordion>
</ion-accordion-group>