
header {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 90%;
    max-width: 50rem;
    margin:  0 auto 2rem auto;
    text-align: center;
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: linear-gradient(0deg, #A100FFFF 0%, #71C4FFFF 100%);
    padding: 1rem;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    color: white;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
  
    & > .header-text{
      
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 3.5rem;
          
    }

    & > img {
        margin-top: 2rem;
        height: 30%;
        width: 30%;
    }
}