

.content-container {
    margin: 3rem;

   
}

ion-content {
    --background : #2d3436;	
}

ion-col {
 
   margin-top: 7rem;
    color: #fff;
    text-align: center;
    border-radius: 3px;


    &:first-child {
        margin-right: 2rem;

    }

  }


  @media screen and (max-width: 767px) {
    ion-col {
        &:first-child {
            margin-bottom: 2rem;
        }
    }
}

.users {
    list-style: none;
    padding: 0;
}