.content-container {
    margin: 3rem;
   
}
ion-col {
    background-image: linear-gradient(0deg, #A100FFFF 0%, #71C4FFFF 100%);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);

    &:first-child {
        margin-right: 2rem;
    }
  }