div {
    border-radius: 6px;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ion-button {
    margin-left: 1rem;
    height: 50px;
    --background: grey;
  }
  
  button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.35rem 0.5rem;
    background-color: rgba(144, 129, 228, 0.75);
    color: #c3b3d1;
    border: none;
    font: inherit;
    cursor: pointer;
    width: 100%;
    min-width: 10rem;
    text-align: left;
    margin-bottom: 1rem;
    border-radius: 12px;
  
    &:hover,
    &:active,
    .active & {
      background-color: #9965dd;
      color: #150722;
    }
  }
  
  img {
    width: 3rem;
    object-fit: contain;
    border-radius: 50%;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  }
  
  span {
    margin: 0;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: normal;
  }
  